{% extends 'base.html.twig' %}

{% block title %}Hello CalculatorController!
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<div class="card" class="mx-auto"  style="width: 18rem;">
			<div class="card-header">
				{{ form_start(form) }}
				<div class="row ">
					<div class="col-sm">
						{{ form_widget(form.operation) }}
					</div>
				</div>
			</div>
			<!-- header card -->
			<div class="card-body">
				<div class="row">
					{% for i in 7..9 %}
						<div class="col">
							{{ form_widget(attribute(form, i)) }}
						</div>
					{% endfor %}
					<div class="col">
						{{ form_widget(form.adder) }}
					</div>
				</div>
				<div class="row">
					{% for i in 4..6 %}
						<div class="col">
							{{ form_widget(attribute(form, i)) }}
						</div>
					{% endfor %}
					<div class="col">
						{{ form_widget(form.substractor) }}
					</div>
				</div>
				<div class="row">
					{% for i in 1..3 %}
						<div class="col">
							{{ form_widget(attribute(form, i)) }}
						</div>
					{% endfor %}
					<div class="col">
						{{ form_widget(form.multiplicator) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.0) }}
					</div>
					<div class="col">
						{{ form_widget(form.clear) }}
					</div>
					<div class="col">
						<button type="button" id="submit"  class="btn btn-primary">=</button>
					</div>
					<div class="col">
						{{ form_widget(form.divisor) }}
					</div>
				</div>
				{{ form_end(form) }}
			</div>
			<!-- card body-->
		</div>
		<!-- card -->
	</div>
	<!-- container -->
{% endblock %}

{% block javascripts %}
<script>
var baseUrl = "{{ path('calculator') }}";
window.onload = function() {
    var operationField = document.getElementById("calculator_operation");
    var operandButtons = document.querySelectorAll(".operand-button");
      for(var i = 0; i < operandButtons.length; i++ ) {
        operandButtons[i].addEventListener("click",function() {     
            operand = this.value;
            operationField.value += operand;   
     },false);   
    } 
    var operatorButtons = document.querySelectorAll(".operator-button");
    for (var i = 0; i < operatorButtons.length; i++ ) {
        operatorButtons[i].addEventListener("click",function() {
            operator = this.value;
            currentValue = operationField.value;
            if(currentValue.length >= 1 && ['+','-','/','*'].includes(currentValue.slice(-1))){
                 operationField.value = currentValue.slice(0, -1) + operator;
            } else {
                operationField.value += this.value;  
            }
            
        },false);
    }

    let sendForm = function() {
        let operation = document.getElementById("calculator_operation");
        fetch(baseUrl, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({"operation": operation.value})
        }).then(function(response) {  
            if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' + response.status);
                return;
            }
            response.json().then(function(data) {
                operation.value = data.result; 
            });   
        })
        .catch(function(error) {
            console.log(error);
        }); 
    };

    let submitButton = document.getElementById('submit');
    submitButton.addEventListener("click", sendForm);
}
</script>
{% endblock %}